# ------------------------------
# Java / Maven
# ------------------------------
target/
*.class
*.log
*.hprof
hs_err_pid*
replay_pid*

# Keep Maven Wrapper (should be committed)
# (não ignore a pasta .mvn para manter o maven-wrapper)
#!.mvn/wrapper/maven-wrapper.jar

# ------------------------------
# IntelliJ IDEA / JetBrains
# ------------------------------
.idea/
*.iml
*.iws
*.ipr
out/

# ------------------------------
# Eclipse
# ------------------------------
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# ------------------------------
# NetBeans
# ------------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# OS
# ------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~